.main-content {
	margin-top: 56px;
}

.title {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.larger {
	font-size: 20px;
}

.check-offset {
	margin: 5px;
}

.full {
	width: 100%;
}

.right {
	text-align: right;
}

.result {
	margin-bottom: 20px;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	height: 50%;
}

.bold {
	font-weight: bold;
}

.blueBackground {
	background-color: #cce3f0;
}

button.blueBackground:hover {
	background-color: #4eb5f0;
}

a {
	color: #0094e4;
}

.height {
	height: 24px;
}

.center {
	display: block;
	margin: 0 auto;
}

.pag-button {
	padding-right: 10px;
}