{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="title">Search modifiers:</div>
    <b>title:</b> searches just the album title <br>
    <b>year:</b> finds all recordings from a given year <br>
    <b>country:</b> finds all recordings from a given country <br>
    <b>notes:</b> searches Discogs' notes for each recording <br>
    <b>genre:</b> searches for recordings of a given genre <br>
    <b>style:</b> searches for recordings of a given style <br>
    <b>song:</b> searches recordings' tracklists <br>
    <b>artist:</b> searches recordings by artist <br>
    <b>label:</b> searches recordings by label

</div>

{% endblock %}