{% extends "layout.html" %}

{% block content %}

<script>let results = {{results|tojson}}; let term="{{term}}"</script>
<script src="{{url_for('static', filename='results.js')}}"></script>

<div class="row title">
    <div class="col-md-12">
        {% if version == 'search' %}
        Search for "{{query}}"
        {% elif version == 'artist' %}
        Artist: {{query}}
        {% else %}
        Label: {{query}}
        {% endif %}
    </div>
</div>

<div class="col-md-12">

    <div class="row" id="num-results">
        {% if results|length == 0 %}
            No results found
        {% elif results|length == 1 %}
            1 result found
        {% else %}
            {{results|length}} results found
        {% endif %}
    </div>

    <div class="row">
        Filter by
    </div>
    <div class="row">
        Media: 
        <input id="cd" class="check-offset" type="checkbox" checked="true">CD
        <input id="vinyl" class="check-offset" type="checkbox" checked="true">Vinyl
    </div>
    <div class="row result">
        Department: 
        <input id="jazz" class="check-offset" type="checkbox" checked="true"> Jazz
        <input id="classical" class="check-offset" type="checkbox" checked="true"> Classical
        <input id="bach" class="check-offset" type="checkbox" checked="true"> Bach
        <input id="nm" class="check-offset" type="checkbox" checked="true"> New Music
    </div>
</div>

<hr>


<div id="results"></div>


{% endblock %}