{% extends "layout.html" %}

{% block content %}

<div class="container">
    <!-- now with CICD! -->
    <div class="row title">Search our catalog</div>
    <div class="row result">Currently a work in progress, our catalog includes {{length}} of our estimated 30,000 items.</div>

    <!-- Button trigger modal -->
    <button type="button" class="row btn blueBackground" data-toggle="modal" data-target="#exampleModal">
        Help
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Search modifiers:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <b>title:</b> searches just the album title <br>
                <b>year:</b> finds all recordings from a given year <br>
                <b>country:</b> finds all recordings from a given country <br>
                <b>notes:</b> searches Discogs' notes for each recording <br>
                <b>genre:</b> searches for recordings of a given genre <br>
                <b>style:</b> searches for recordings of a given style <br>
                <b>song:</b> searches recordings' tracklists <br>
                <b>artist:</b> searches recordings by artist <br>
                <b>label:</b> searches recordings by label
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
        </div>
    </div>    

</div>

{% endblock %}